:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */ 
    --very-light-gray : hsl(0, 0%, 95%); /* (background, headings, buttons) */

    --fs: 15px;
    --ff-lexenda-deca: "Lexend Deca";
    --fw-400: 400;
    --fw-700: 700;
    --ff-big-shoulder-display: "Big Shoulders Display";
}

html, body, .preview-card {
    height: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.preview-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
}

.preview-card__body {
    padding: 50px;
}

.preview-card__body--orange {
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.preview-card__body--dark-cyan {
    background-color: var(--dark-cyan);
}

.preview-card__body--very-dark-cyan {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.preview-card__title {
    color: var(--very-light-gray);
    font-family: var(--ff-lexenda-deca);
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

.preview-card__text {
    color: var(--transparent-white);
    font-size: var(--fs);
    font-family: var(--ff-lexenda-deca);
    font-weight: var(--fw-400);
}

.preview-card__btn--orange {
    color: var(--bright-orange);
}

.preview-card__btn--dark-cyan {
    color: var(--dark-cyan);
}

.preview-card__btn--very-dark-cyan {
    color: var(--very-dark-cyan);
}

.preview-card__btn {
    border-radius: 60px;
    border: none;
    font-family: var(--ff-lexenda-deca);
    font-size: var(--fs);
    padding: 15px;
    width: 150px;
}

.preview-card__btn:hover {
    border: 2px solid var(--transparent-white);
    background-color: unset;
    color: var(--transparent-white);
}

@media screen and (min-width: 1000px) {
    .preview-card {
        flex-direction: row;
        justify-content: center;
        height: unset;
    }

    .preview-card__body--orange {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0;
    }

    .preview-card__body--very-dark-cyan {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .preview-card__text {
        margin: 15px 0 50px;
    }
}
